//Variables

$website-width: 1280px;
$main-color: #0084ff;
$sub-color: #0084ff;
$light-color: #f4f4f4;
$medium-color: #ccc;
$dark-color: #333;
// $bg-image: url("../img/showcase.jpg");
$bg-image: url("../img/showcase_3-min.jpg");

// Set text color

@function set-text-color($color) {
    @if (lightness($color) > 50) {
        @return #000;
    } @else {
        @return #fff;
    }
}
