@media (max-width: 800px) {
    #header-home {
        height: 30rem;

        .header-content {
            padding-top: 1rem;

            h1 {
                font-size: 2.8rem;
                line-height: 1;
            }
            p {
                padding-top: 2rem;
                font-size: 1.2rem;
            }
        }
    }
}

// Smartphones

@media (max-width: 720px) {
    #main-nav {
        flex-direction: column;
        align-items: center;

        li {
            padding: 1rem;
        }
    }

    #header {
        &-home {
            height: 10rem;
            border-bottom: 3px solid $main-color;
            background-position: 20% 30%;

            .header-content {
                display: none;
            }
        }
        &-inner {
            height: 10rem;
        }
    }

    // Stack Grid Columns
    #home-a .specials,
    #home-b .process {
        padding: 0.8rem 0.3rem;
        margin-bottom: 0.3rem;
    }

    #home-a .specials,
    #home-b .stats,
    #home-c .process,
    #about-d .testimonials,
    #contact-b .contact-info,
    .items {
        grid-template-columns: 1fr;

        box-shadow: 0px 0px 5px 5px rgba(0, 0, 0, 0.1);
    }

    #home {
        &-a {
            .specials div {
                border-bottom: 1px $light-color solid;
                padding-bottom: 1rem;

                &:last-child {
                    border: none;
                    padding-bottom: 0;
                }
            }
        }
        &-b {
            .stats div {
                padding: 2rem 0 1rem 0;
            }
        }
    }

    // About
    #about {
        &-a {
            .about-info {
                grid-template-areas:
                    "bioimage"
                    "bio"
                    "aw1"
                    "aw2"
                    "aw3";
            }
        }
        &-c {
            .about-logos {
                margin: 0;
                img {
                    width: 45px;
                }
            }
        }
        &-d {
            .testimonials {
                ul {
                    justify-content: center;
                }
            }
        }
    }

    // Contact

    #contact {
        &-a {
            .text-fields {
                grid-template-areas:
                    "name"
                    "subject"
                    "email"
                    "phone"
                    "message";
            }
        }
        &-b {
            div {
                margin-bottom: 1rem;
                padding-bottom: 1rem;
                border-bottom: 1px #555 solid;

                &:last-child {
                    border: none;
                    margin-bottom: 0;
                    padding-bottom: 0;
                }
            }
        }
        &-c {
            h1 {
                font-size: 2rem;
            }
        }
    }
}

// Landscape

@media (max-height: 580px) {
    #header-home {
        .header-content {
            padding-top: 3rem;
        }
    }
}

@media (max-width: 566px) {
    #header-home {
        .header-content {
            padding-top: 2.8rem;
        }
    }
}

@media (max-height: 330px) {
    #header-home {
        .header-content {
            h1 {
                font-size: 2rem;
            }
        }
    }
}
// Footer
@media (max-width: 610px) {
    #main-footer {
        height: 7rem;

        .footer-content {
            flex-direction: column-reverse;
            padding: 1rem;
            height: 5rem;
        }
    }
}

@media (min-width: 768px) {
    .bio p {
        padding: 0.1rem 0.6rem;
        text-align: justify;
    }
}

@media (min-width: 721px) and (max-width: 925px) {
    #about {
        &-a {
            .about-info {
                grid-template-areas:
                    "bioimage"
                    "bio"
                    "aw1 aw2";
            }
        }
    }
}
